<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="Kasaku.Sitecore.Modules.Sweep.CleanOnItemSave" value="true" />
    </settings>

    <sweep>

      <!-- Add fields to the fieldMatcher to have them cleaned -->
      <fieldIdMatcher>
        <!--<field desc="Description field on SampleItem">{A60ACD61-A6DB-4182-8329-C957982CEC74}</field>-->
      </fieldIdMatcher>

      <!-- Add templates to the templateMatcher to have all rich-text fields within them cleaned -->
      <templateIdMatcher>
        <!--<template desc="SampleItem Template">{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</template>-->
      </templateIdMatcher>

      <!-- The ChainedMatcher will iterate through the list of defined matchers in order, and return as soon as it finds a match. -->
      <matchStrategy type="Kasaku.Sitecore.Modules.Sweep.Matchers.ChainedMatcher, Kasaku.Sitecore.Modules.Sweep" singleInstance="true">
        <matchers hint="list">
          <!-- Uncomment the AllRichTextMatcher if you want to have ALL rich-text fields cleaned. -->
          <!--<matcher type="Kasaku.Sitecore.Modules.Sweep.Matchers.AllRichTextMatcher, Kasaku.Sitecore.Modules.Sweep" />-->
          
          <matcher type="Kasaku.Sitecore.Modules.Sweep.Matchers.FieldIdMatcher, Kasaku.Sitecore.Modules.Sweep" />
          <matcher type="Kasaku.Sitecore.Modules.Sweep.Matchers.TemplateIdMatcher, Kasaku.Sitecore.Modules.Sweep" />
        </matchers>
      </matchStrategy>
     
    </sweep>
    
    <pipelines>

      <!-- Pipeline that specifies what cleaning processors to execute. Disable processors here if the effect of a processor is undesirable.
      Additional processors can be added here, they should inherit from Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.SweepCleanProcessor -->
      <sweep.clean>       
               
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.StripInlineStyles, Kasaku.Sitecore.Modules.Sweep" />
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.StripInvalidClasses, Kasaku.Sitecore.Modules.Sweep">
          <!--<validClasses hint="list">
            <class></class>
          </validClasses>
           <invalidClasses hint="list">
            <class></class>
          </invalidClasses>-->
        </processor>
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.RemoveNonbreakingSpaces, Kasaku.Sitecore.Modules.Sweep" />
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.RemoveNestedParagraphTags, Kasaku.Sitecore.Modules.Sweep" />        
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.WrapSingleTextNode, Kasaku.Sitecore.Modules.Sweep" />
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.ConvertStrongParagraphToHeader, Kasaku.Sitecore.Modules.Sweep">
          <replacementElement>h4</replacementElement>
        </processor>        
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.RemoveInnerElementsFromHeaders, Kasaku.Sitecore.Modules.Sweep" />        
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.Clean.RemoveEmptyNodes, Kasaku.Sitecore.Modules.Sweep">
          <ignoredElements>br</ignoredElements>
        </processor>

      </sweep.clean>

    </pipelines>
    
    <clientscripts>
      <htmleditor>
        <script src="/sitecore modules/sweep/sweep.commands.js" language="JavaScript"/>
      </htmleditor>
    </clientscripts>
    
    <processors>
      <saveUI>
        <processor type="Kasaku.Sitecore.Modules.Sweep.Pipelines.SaveUI.CleanHtmlOnSave, Kasaku.Sitecore.Modules.Sweep" singleInstance="true"
                   patch:after="*[@type='Sitecore.Pipelines.Save.ParseXml, Sitecore.Kernel']" />
      </saveUI>
    </processors>
    
  </sitecore>
</configuration>
